
@{
    ViewData["Title"] = "SessionView";
}

<h1>@ViewData["Title"]</h1>
<p>Fill these values.</p>

<form method="post">
    <div class="form-group">
        <label for="a">A Value</label>
        <input type="number" class="form-control" id="a" name="a" placeholder="">
    </div>

    <div class="form-group">
        <label for="b">B Value</label>
        <input type="number" class="form-control" id="b" name="b" placeholder="">
    </div>

    <div class="form-group">
        <label for="c">C Value</label>
        <input type="text" class="form-control" id="c" name="c" placeholder="">
    </div>

    <div class="form-group">
        <input class="btn-primary" type="submit" value="Submit">
    </div>
</form>
