
@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
}

<h1>ForgotPasswordConfirmation</h1>
<h2>Password has been reset successfully!</h2>
<a asp-action="Login" asp-controller="Account">Return to Login</a>

