@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<ul>
    <li><a asp-controller="Account" asp-action="Register">Register</a></li>
    <li><a asp-controller="Account" asp-action="Login">Login</a></li>
    <li><a asp-controller="Account" asp-action="Logout">Logout</a></li>
    <li><a asp-controller="Account" asp-action="GenerateRoles">Generate Roles</a></li>
    <li><a asp-controller="Account" asp-action="GenerateUsers">Generate Users</a></li>
    <li><a asp-controller="Account" asp-action="MyProfile">My Profile</a></li>
    <li><a asp-controller="Account" asp-action="AnonymousPage">Anonymous Page</a></li>
    <li><a asp-controller="Account" asp-action="AdminDashboard">Admin Dashboard</a></li>
    <li><a asp-controller="Account" asp-action="SendEmail">Send Email</a></li>
    <li><a asp-controller="Account" asp-action="ManagerDashboard">Manager Dashboard</a></li>
    <li><a asp-controller="Account" asp-action="RegisterWithEmailConfirmation">Register with Email Confirmation</a></li>
</ul>
