@{
    ViewData["Title"] = "Routing and Navigation Demo";
}

<h1>@ViewData["Title"]</h1>

<p>Welcome to Book Stores.</p>

<nav class="nav">
    <a class="nav-link active" href="/">Home</a>
    <a class="nav-link" href="/book">Book home</a>
    <a class="nav-link" href="/book/createsubmit">Create a new book</a>
    <a class="nav-link" href="/book/BookDetail/2">Detail book</a>
    <a class="nav-link" href="/book/showbook/2">Show book</a>
</nav>
