
@{
    ViewData["Title"] = "Book";
}

<h1>@ViewData["Title"]</h1>
<p>View my books</p>
<div>
    <img src="~/img/beagle.jpg" width="300" class="img-thumbnail rounded float" />&nbsp;
    <img src="~/img/postgresql.png" width="300" class="img-thumbnail rounded float" />&nbsp;
    <img src="~/img/raspi.png" width="300" class="img-thumbnail rounded float" />&nbsp;
    <img src="~/img/sql.png" width="300" class="img-thumbnail rounded float" />&nbsp;
    <img src="~/img/stm8.jpg" width="300" class="img-thumbnail rounded float" />
</div>